@import "../../utilities/variables.scss";

.checkbox {
    position: relative;
    &:not(:last-child) {
        margin-bottom: 35px;
    }
    input:checked + span { 
        &::before {
            content: "";
            padding: 5px;
            padding-left: 0px;
            border: solid black;
            display: inline-block;
            border-width: 0 4px 4px 0;
            position: absolute;
            transform: rotate(35deg);
            transform-origin: center;
            left: 7px;
            top: 3px;
        }
    }
    input {
        width: 23px;
        height: 23px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
    span {
        &:first-of-type {
            min-width: 23px;
            height: 23px;
            display: inline-block;
            border: 2px solid $primary-color;
        }
        &:last-of-type {
            color: $dark-100;
            font-size: 22px;
            line-height: 24px;
            margin-left: 23px;
            text-transform: capitalize;
        }
    }
    label {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}