@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');

@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    color: $primary-color;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    line-height: 22px;
    text-decoration: none;
    box-sizing: border-box;
    word-break: break-word;
    font-family: 'Archivo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
}

main {
    padding-top: 92px;
    padding-bottom: 270px;
}

.btn-primary {
    color: #fff;
    width: inherit;
    height: inherit;
    font-weight: 500;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: 0.07em;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: $primary-color;
    &--outlined {
        color: $primary-color;
        background-color: transparent;
        border: 3px solid $primary-color;
    }
}

@media (min-width: $breakpoint-md) {
    main {
        padding-top: 124px;
        padding-bottom: 60px;
    }
}