@import "../utilities/variables.scss";

.additional {
    h2 {
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
    }
}

.products {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    a {
        width: calc(33% - 20px);
        height: 122px;
        position: relative;
        display: inline-block;
    }
}

.details {
    h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
    }
    div {
        color: $secondary-color;
        font-size: 22px;
        line-height: 24px;
    }
}