@import "../utilities/variables.scss";

.pagination {
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    button, span {
        color: $gray-100;
        font-size: 29px;
        line-height: 32px;
    }
    span {
        margin-right: 15px;
    }
    button {
        cursor: pointer;
        background-color: transparent;
        &:first-child, 
        &:last-child {
            display: inline-flex;
            align-items: center;
            color: $primary-color;
            &:after {
                content: "";
                padding: 5px;
                transform-origin: center;
                border: solid black;
                display: inline-block;
                border-width: 0 3px 3px 0;
            }
        }
        &:first-child {
            &:after {
                transform: rotate(135deg);
            }
        }
        &:last-child {
            &:after {
                transform: rotate(-45deg);
            }
        }
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}

@media (min-width: $breakpoint-md) {
    .pagination {
        padding-top: 30px;
    }
}