@import "../utilities/variables.scss";

.headline {
    margin: 0 auto;
    max-width: $max-page-width;
    padding: 50px 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
        color: $gray-200;
        font-size: 18px;
        line-height: 20px;
    }
    strong {
        font-size: inherit;
        line-height: inherit;
        color: $primary-color;
        font-weight: 700;
    }
    span {
        color: $primary-color;
        font-weight: 700;
        font-size: 34px;
        line-height: 37px;
        vertical-align: middle;
    }
    button {
        width: 29px;
        height: 29px;
        position: relative;
        background-color: transparent;
    }
}

@media (min-width: $breakpoint-md) {
    .headline {
        h2 {
            font-size: 30px;
            line-height: 32px;
        }
        span {
            margin: 0 15px;
        }
    }
}