@import "../utilities/variables.scss";

.sort {
    display: none;
    position: relative;
}

.trigger {
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 24px;
    white-space: nowrap;
    background-color: transparent;
}

.image {
    width: 15px;
    height: 15px;
    margin-right: 7px;
    display: inline-block;
    position: relative;
}

.text {
    margin-right: 15px;
    font-size: inherit;
    line-height: inherit;
    color: $secondary-color;
}

.arrow {
    display: inline-flex;
    align-items: center;
    margin-left: 13px;
    margin-bottom: 4px;
    &:after {
        content: "";
        border: solid $primary-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 5px;
        transform-origin: center;
        transform: rotate(45deg);
    }
}

.list {
    top: 40px;
    right: 0;
    display: none;
    z-index: map-get($layer, "medium");
    padding: 15px;
    position: absolute;
    background-color: #fff;
    border: 4px solid #E4E4E4;
    li:not(:last-child) {
        margin-bottom: 15px;
    }
    button {
        cursor: pointer;
        font-size: 20px;
        list-style: 22px;
        white-space: nowrap;
        background-color: transparent;
    }
}

.list-visible {
    .list {
        display: block;
    }
    .arrow {
        margin-top: 4px;
        margin-bottom: 0;
        &:after {
            transform: rotate(-135deg);
        }
    }
}

@media (min-width: $breakpoint-md) {
    .sort {
        display: block;
    }
}