@import "./utilities/variables.scss";

.info {
    margin: 0 auto;
    padding: 0 15px 50px;
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid $gray-300;
}

.products {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.info, 
.products {
    max-width: $max-page-width;
}

@media (min-width: $breakpoint-md) {
    .info {
        flex-direction: row;
    }
    .products {
      padding: 65px 15px 0;
      flex-direction: row;
    }
}