@import "./utilities/variables.scss";

.info {
  padding: 0 15px 50px;
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid $gray-300;
}

.products {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

  
  @media (max-width: 600px) {

  }
  